In [39]:
# GOALS
# 2. Create a scoreing based off views that will score a thumbnail and likes
 # this score could be more accurate if watch time was incorporated
# 3. create a basic predicter that can predict a videos outcome based on features I choose

# using the information I get make some video recommendations 
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from PIL import Image
from keras.preprocessing.image import load_img, img_to_array

D:\Anaconda\envs\learn-env\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.7) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [3]:
# This cell reads in the data I scraped from youtube

df = pd.read_csv(r'C:\Users\jared\data_science\youtube\mr_beast_analysis\mr_beast_channel_analysis\Video_data.csv')
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               150 non-null    object
 1   description         150 non-null    object
 2   videoLength         150 non-null    int64
 3   thumbnailUrl        150 non-null    object
 4   videoId             150 non-null    object
 5   videoUrl            150 non-null    object
 6   channelId           150 non-null    object
 7   channelUrl          150 non-null    object
 8   keywords            11 non-null     object
 9   averageRating       0 non-null      float64
 10  author              150 non-null    object
 11  profileUrl          150 non-null    object
 12  viewCount           150 non-null    int64
 13  likeCount           150 non-null    int64
 14  dislikeCount        0 non-null      float64
 15  authorThumbnailUrl  150 non-null    object
 16  subscriberCount     150 non-null    object
 17  category            150 non-null    object
 18  publishDate         150 non-null    object
 19  isLiveContent       150 non-null    bool
 20  isFamilySafe        150 non-null    bool
 21  query               150 non-null    object
 22  timestamp           150 non-null    object
dtypes: bool(2), float64(2), int64(3), object(16)
memory usage: 25.0+ KB
None

,title,description,videoLength,thumbnailUrl,videoId,videoUrl,channelId,channelUrl,keywords,averageRating,...,likeCount,dislikeCount,authorThumbnailUrl,subscriberCount,category,publishDate,isLiveContent,isFamilySafe,query,timestamp
0,"Extreme $1,000,000 Hide And Seek",I didn't expect that to happen at the end I wa...,729,https://i.ytimg.com/vi/00NgUctWoLQ/hqdefault.jpg,00NgUctWoLQ,https://www.youtube.com/watch?v=00NgUctWoLQ,UCX6OQ3DkcsbYNE6H8uQQuVA,https://www.youtube.com/channel/UCX6OQ3DkcsbYN...,NaN,NaN,...,2429798,NaN,https://yt3.ggpht.com/ytc/AKedOLSJtY3pQz27cdDo...,87.1M subscribers,Entertainment,2021-12-18,False,True,"https://www.youtube.com/watch?v=00NgUctWoLQ',",2022-01-02T04:55:06.903Z
1,"$1,000,000 Influencer Tournament!",That was so close at the end I can't believe t...,724,https://i.ytimg.com/vi/x9TQ6culXIA/hqdefault.jpg,x9TQ6culXIA,https://www.youtube.com/watch?v=x9TQ6culXIA,UCX6OQ3DkcsbYNE6H8uQQuVA,https://www.youtube.com/channel/UCX6OQ3DkcsbYN...,NaN,NaN,...,2404541,NaN,https://yt3.ggpht.com/ytc/AKedOLSJtY3pQz27cdDo...,87.1M subscribers,Entertainment,2021-12-16,False,True,"https://www.youtube.com/watch?v=x9TQ6culXIA',",2022-01-02T04:55:07.894Z
2,I Got Hunted By The Military,I'm not sure how they drove over that... it wa...,661,https://i.ytimg.com/vi/QbJJwaVdgIs/maxresdefau...,QbJJwaVdgIs,https://www.youtube.com/watch?v=QbJJwaVdgIs,UCX6OQ3DkcsbYNE6H8uQQuVA,https://www.youtube.com/channel/UCX6OQ3DkcsbYN...,NaN,NaN,...,2481993,NaN,https://yt3.ggpht.com/ytc/AKedOLSJtY3pQz27cdDo...,87.1M subscribers,Entertainment,2021-12-10,False,True,"https://www.youtube.com/watch?v=QbJJwaVdgIs',",2022-01-02T04:55:08.752Z
3,"$456,000 Squid Game In Real Life!",MAKE SURE YOU WATCH UNTIL GLASS BRIDGE IT'S IN...,1541,https://i.ytimg.com/vi/0e3GPea1Tyg/maxresdefau...,0e3GPea1Tyg,https://www.youtube.com/watch?v=0e3GPea1Tyg,UCX6OQ3DkcsbYNE6H8uQQuVA,https://www.youtube.com/channel/UCX6OQ3DkcsbYN...,NaN,NaN,...,12616243,NaN,https://yt3.ggpht.com/ytc/AKedOLSJtY3pQz27cdDo...,87.1M subscribers,Entertainment,2021-11-24,False,True,"https://www.youtube.com/watch?v=0e3GPea1Tyg',",2022-01-02T04:55:09.420Z
4,I Cleaned The World’s Dirtiest Beach #TeamSeas,$1 Donated = 1 Pound Of Trash Out Of The Ocean...,295,https://i.ytimg.com/vi/cV2gBU6hKfY/maxresdefau...,cV2gBU6hKfY,https://www.youtube.com/watch?v=cV2gBU6hKfY,UCX6OQ3DkcsbYNE6H8uQQuVA,https://www.youtube.com/channel/UCX6OQ3DkcsbYN...,NaN,NaN,...,4162031,NaN,https://yt3.ggpht.com/ytc/AKedOLSJtY3pQz27cdDo...,87.1M subscribers,Entertainment,2021-10-29,False,True,"https://www.youtube.com/watch?v=cV2gBU6hKfY',",2022-01-02T04:55:10.117Z

In [4]:
# In this cell I make additional features I thought could be useful to check if they have an impact on views

df['description_length'] = [len(x) for x in list(df['description'])]
df['title_length'] = [len(x) for x in list(df['title'])]

In [5]:
df['description_length']

0       374
1       438
2      1237
3       631
4       156
       ...
145     479
146     811
147     464
148     403
149     501
Name: description_length, Length: 150, dtype: int64

In [6]:
# Dropping some unneeded features, I checked each for useability beforehand
df = df.drop('thumbnailUrl',axis=1)
df = df.drop('videoUrl',axis=1)
df = df.drop('channelId',axis=1)
df = df.drop('channelUrl',axis=1)
df = df.drop('keywords',axis=1)
df = df.drop('averageRating',axis=1)
df = df.drop('dislikeCount',axis=1)
df = df.drop('subscriberCount',axis=1)
df = df.drop('author',axis=1)
df = df.drop('profileUrl',axis=1)
df = df.drop('authorThumbnailUrl',axis=1)
df = df.drop('timestamp',axis=1)
df = df.drop('query',axis=1)
df = df.drop('isFamilySafe',axis=1)
df = df.drop('category',axis=1)
df = df.drop(df.index[df['videoId'] == '_uwNDiU04zE'],axis=0)
df = df.drop(df.index[df['videoId'] == 'YSoJPA8-oHc'],axis=0)

In [7]:
df.head(10)

,title,description,videoLength,videoId,viewCount,likeCount,publishDate,isLiveContent,description_length,title_length
0,"Extreme $1,000,000 Hide And Seek",I didn't expect that to happen at the end I wa...,729,00NgUctWoLQ,41202575,2429798,2021-12-18,False,374,32
1,"$1,000,000 Influencer Tournament!",That was so close at the end I can't believe t...,724,x9TQ6culXIA,38442440,2404541,2021-12-16,False,438,33
2,I Got Hunted By The Military,I'm not sure how they drove over that... it wa...,661,QbJJwaVdgIs,46288104,2481993,2021-12-10,False,1237,28
3,"$456,000 Squid Game In Real Life!",MAKE SURE YOU WATCH UNTIL GLASS BRIDGE IT'S IN...,1541,0e3GPea1Tyg,192952648,12616243,2021-11-24,False,631,33
4,I Cleaned The World’s Dirtiest Beach #TeamSeas,$1 Donated = 1 Pound Of Trash Out Of The Ocean...,295,cV2gBU6hKfY,53352795,4162031,2021-10-29,False,156,46
5,"Last To Take Hand Off Lamborghini, Keeps It",Subscribe if you want to compete!\nWatch My Do...,942,qIsgdOVGA04,55510031,2698382,2021-10-23,False,568,43
6,"First To Rob Bank Wins $100,000",I didnt think he would actually rob the bank.....,482,cExLQ1o2pDw,52272016,2397995,2021-09-26,False,660,31
7,"Extreme $500,000 Game Of Tag!",I did not expect that to happen at the end...\...,760,uocETPj4Jx4,59219952,2802519,2021-09-04,False,507,29
8,"Last To Leave Circle Wins $500,000",THIS WAS THE CRAZIEST THING IVE EVER DONE!\nGe...,1165,zxYjTTXc-J8,101193933,3556109,2021-08-31,False,804,34
9,I Got Hunted By The FBI,You guys loved the bounty hunter video so we d...,1000,hxwpkM5w3Cc,73456912,2582514,2021-08-07,False,753,23

In [33]:
# Checking out Titles compared to views top 25

df_title_and_views = df[['title','viewCount','title_length']]
df_title_and_views.sort_values('viewCount', ascending=False, inplace=True)
df_title_and_views.head(25)

<ipython-input-33-39acf1240205>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_title_and_views.sort_values('viewCount', ascending=False, inplace=True)

,title,viewCount,title_length
3,"$456,000 Squid Game In Real Life!",192952648,33
50,I Spent 50 Hours In Solitary Confinement,160357867,40
19,I Spent 50 Hours Buried Alive,156104424,29
144,I Put 100 Million Orbeez In My Friend's Backyard,152117417,48
30,"Press This Button To Win $100,000!",148004153,34
59,Anything You Can Fit In The Circle I’ll Pay For,146628344,47
84,"Going Through The Same Drive Thru 1,000 Times",139555608,45
60,"I Ate A $70,000 Golden Pizza",128667086,28
41,"Last To Leave $800,000 Island Keeps It",121190544,38
125,I Went Back To 1st Grade For A Day,120500264,34
40,Would YOU Rather Have A Lamborghini or This Ho...,119787257,50
48,"Would You Rather Have $100,000 OR This Mystery...",119314524,51
17,"Would You Sit In Snakes For $10,000?",112575821,36
79,Surviving 24 Hours Straight In The Bermuda Tri...,110659591,51
92,Surviving 24 Hours On A Deserted Island,107995130,39
46,"I Bought The World's Largest Firework ($600,000)",107793263,48
45,I Adopted EVERY Dog In A Dog Shelter,106048336,36
29,"Steal This $100,000 Diamond, You Keep It",105393015,40
18,I Bought The World's Largest Mystery Box! ($50...,103603501,52
55,I Spent 24 Hours In A Doomsday Bunker,103553730,37
101,Spending 24 Hours On Top Of A Mountain,102260917,38
63,I Gave My Credit Card To Random People,102166188,38
69,"Spending $1,000,000 In 24 Hours",101398306,31
8,"Last To Leave Circle Wins $500,000",101193933,34
23,"I Ate $100,000 Golden Ice Cream",101137444,31

In [34]:
# Comparing the bottom 25 now
df_title_and_views.tail(25)

,title,viewCount,title_length
39,"Get This Random Person 1,000,000 Subscribers",41949412,44
80,"I Spent $100,000 On Lottery Tickets And Won!",41358878,44
0,"Extreme $1,000,000 Hide And Seek",41202575,32
145,"Spending $40,000 In One Hour Challenge",40589449,38
124,I Advertised Pewdiepie At The Super Bowl,39509112,40
71,"Last To Stop Riding Bike Wins $1,000,000 (Part 4)",38624348,49
1,"$1,000,000 Influencer Tournament!",38442440,33
143,Destroyed Friend's House And Bought Him A New One,38297758,49
126,I Opened The World’s Cheapest Store,37372259,35
97,"Can 50,000 Magnets Catch A Cannon Ball?",36631325,39
85,"Donating $100,000 To Random Streamers",36408790,37
104,"Paying People $10,000 To Eat Ghost Pepper",35990586,41
52,"I Gave $200,000 To People Who Lost Their Jobs ...",34915868,60
38,Why I Haven’t Been Uploading,33087688,28
67,Important Youtube Announcement (please watch),32585078,45
113,Playing Battleship With Real Ships,31216557,34
114,"Donating $100,000 To Shroud In Real Life",29270170,40
56,"Giving $1,000,000 Of Food To People In Need",28337673,43
134,"Giving $100,000 To A Homeless Person",28224124,36
129,"20,000 Magnets Vs A Car",25289966,23
146,"Giving My 10,000,000th Subscriber 10,000,000 ___",23594495,48
142,"Saying Pewdiepie 100,000 Times",21265275,30
147,"$10,000 Games Of Rock Paper Scissors",17034954,36
66,"How I Gained 15,000,000 Subscribers In 1 Year",16973376,45
133,"How I Gave Away $1,000,000",14045005,26

In [35]:
# Seeing if title lenght has an impact
df_title_and_views.corr()

              viewCount  title_length
viewCount      1.000000      0.029162
title_length   0.029162      1.000000

# Notes on Video Titles
- My basic hypothesis going into this was that videos containing explicit numbers would perform better than abstract videos. When looking at the results this isn't really the case. The top 25 performing videos have 20 videos with either a large sum of money in the title or a large amount of hours in the title. The bottom 25 performing videos have 19 videos with a large sum of money or a large amount of hours in the title. With a one video difference I think that's enough to disprove my hypothesis. This data shows it's possible to create a good title without including these large numbers. I think it also enforces the idea that the Mr. Beast team is very talented with naming videos. The reason I say this is because when examining the video titles they correlate with the channel's age. In the top 25 the majority of the videos are from last year (2021), and the bottom 25 contains a lot of videos from three years ago (2018). The key takeaway from looking at the titles is that the method the Mr. Beast team uses to name videos works, and they should stick with it. I also thought it could be useful to check if a video's title length had any impact on performance and the data gave me a resounding no. The length of a video title has no real impact on a video's performance.

In [27]:
# Now looking at video lenght
df_length_and_views = df[['videoLength','viewCount']]
df_length_and_views.sort_values('viewCount', ascending=False, inplace=True)
df_length_and_views.head(25)

<ipython-input-27-9b6c79f10d82>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_length_and_views.sort_values('viewCount', ascending=False, inplace=True)

     videoLength  viewCount
3           1541  192952648
50           951  160357867
19           759  156104424
144          885  152117417
30           911  148004153
59          1199  146628344
84           937  139555608
60           775  128667086
41          1335  121190544
125         1065  120500264
40          1191  119787257
48          1161  119314524
17           849  112575821
79           701  110659591
92           832  107995130
46           669  107793263
45           964  106048336
29           842  105393015
18           708  103603501
55           719  103553730
101          924  102260917
63          1008  102166188
69           909  101398306
8           1165  101193933
23           797  101137444

In [29]:
df_length_and_views.tail(25)

     videoLength  viewCount
39           844   41949412
80           912   41358878
0            729   41202575
145          842   40589449
124          764   39509112
71           705   38624348
1            724   38442440
143          967   38297758
126          919   37372259
97           913   36631325
85           962   36408790
104          886   35990586
52           992   34915868
38           381   33087688
67           155   32585078
113          931   31216557
114          854   29270170
56           748   28337673
134          883   28224124
129          723   25289966
146         1099   23594495
142        42520   21265275
147          772   17034954
66           394   16973376
133          914   14045005

In [32]:
# Applying Numeric Calculation for a Clear Result

df_length_and_views.corr()

             videoLength  viewCount
videoLength     1.000000  -0.119207
viewCount      -0.119207   1.000000

# Examining Video Length and Views
- When looking at the numbers in the top and bottom twenty-five it's hard to make any sense of it. The column for video length is in seconds which only makes it more confusing to understand. Thankfully using the .corr() python method I'm able to apply statistical calculations on the data set and get a much clearer numeric result called a r score. Based on the result I again come to the conclusion that the team at Mr. Beast has already nailed video length. The r score I got indicates a slight negative relationship between Video Length and views. However the score is so low and very close to zero that it's not worth worrying about. The r score would need to be much closer to 1 or -1 to be worrying. A score this close to zero could easily just be from noise in the data. In order to further explore this relationship it could be worthwhile to decrease the next two or three videos total length and then proceed to release two or three videos back at the original video length. You could then run the numbers again to get a new r score with a much clearer result on the relationship between the length of a Mr. Beast video and it's overall performance

In [77]:
# Now I want to look at thumbnails, I want to build a model that will give a thumbnail a score based on view count and likes

veiws_and_likes = pd.DataFrame(df[['videoId','viewCount','likeCount']])

directory = "thumbnails/"

thumbnails_dict = {}
# This code is importing the thumbnails, and then saving the image array with the youtube video ID
for filename in os.listdir(directory):
    image = Image.open("C:/Users/jared/data_science/youtube/mr_beast_analysis/mr_beast_channel_analysis/thumbnails/"+ filename).resize((500,620))
    image = img_to_array(image).flatten()
    thumbnails_dict[filename] = image

print(thumbnails_dict)

{'00NgUctWoLQ.jpg': array([ 73.,  68.,  62., ..., 224., 221., 198.], dtype=float32), '0DaMUhgcAqo.jpg': array([ 68.,  82.,  49., ..., 192., 187., 184.], dtype=float32), '0e3GPea1Tyg.jpg': array([128., 228., 254., ...,   7.,  39.,  36.], dtype=float32), '0hVZOJCYBBM.jpg': array([143., 116.,  95., ...,  89.,  65.,  42.], dtype=float32), '0NGWT9COcEI.jpg': array([ 77.,  71.,  71., ..., 172., 175., 180.], dtype=float32), '1SwVSTKFCsc.jpg': array([215.,  60.,   1., ..., 140., 131., 116.], dtype=float32), '1V_03efSkg0.jpg': array([ 31., 188., 229., ...,  32., 188., 229.], dtype=float32), '2eFSU7TFOnk.jpg': array([193., 218., 248., ..., 180., 191., 197.], dtype=float32), '2nd73lyvq4w.jpg': array([40., 38., 43., ..., 62., 57., 64.], dtype=float32), '3ix_gbcubTo.jpg': array([199., 219., 228., ...,   1., 220., 156.], dtype=float32), '3LLnjRLrvLU.jpg': array([180., 181., 140., ...,  11.,   9.,  10.], dtype=float32), '3TflpIllQHY.jpg': array([101.,  89.,  96., ..., 135., 108.,  85.], dtype=float32), '59AYXzCa-Cs.jpg': array([235., 248., 254., ...,  35., 230., 205.], dtype=float32), '5Fg9oZk-5uA.jpg': array([ 96., 178., 228., ..., 251., 251., 253.], dtype=float32), '5Hg_QSIJm8I.jpg': array([247., 246., 244., ..., 250., 246., 245.], dtype=float32), '5V2B28OqfqM.jpg': array([162., 215., 222., ..., 170., 190., 189.], dtype=float32), '6wsFjjhZPJI.jpg': array([4., 4., 2., ..., 5., 3., 4.], dtype=float32), '71VpdDb8e6U.jpg': array([218., 200., 200., ..., 217., 201., 201.], dtype=float32), '7zi0bi-RDj4.jpg': array([201., 197., 211., ..., 212.,  67., 146.], dtype=float32), '9-HphHIJS9c.jpg': array([92., 82., 72., ..., 80., 81., 76.], dtype=float32), '984NGLLYDUg.jpg': array([ 94., 107., 123., ...,  64.,  63.,  69.], dtype=float32), '9bqk6ZUsKyA.jpg': array([ 66., 140.,  23., ...,  66., 114.,  29.], dtype=float32), '9cCpZl8euLI.jpg': array([144., 141., 134., ...,  40.,  62.,  76.], dtype=float32), '9vB-48kHbBU.jpg': array([194., 210., 249., ..., 224.,   3.,  83.], dtype=float32), '9yrdFAJUSaU.jpg': array([212., 174., 112., ...,  40.,  29.,  23.], dtype=float32), 'A-vX1AGBGsc.jpg': array([147., 168., 149., ..., 179., 133.,  99.], dtype=float32), 'AA-VpIj8F5Y.jpg': array([ 6.,  6.,  6., ..., 21., 21., 21.], dtype=float32), 'AiGKBNGlzHo.jpg': array([ 34.,  74.,   6., ..., 108., 110., 116.], dtype=float32), 'AKJfakEsgy0.jpg': array([129., 104.,  84., ...,  78.,  72.,  61.], dtype=float32), 'al6130OD1Ck.jpg': array([204., 132., 154., ..., 176., 138., 198.], dtype=float32), 'anFxsa5jXrE.jpg': array([229., 197., 161., ...,  37., 115., 156.], dtype=float32), 'ayXxwJJId_c.jpg': array([ 99., 202., 248., ...,  96., 122.,  31.], dtype=float32), 'bs0SWXbty18.jpg': array([131., 122., 119., ...,  19., 121., 225.], dtype=float32), 'bTrV5v7GLcQ.jpg': array([141., 140., 119., ..., 173., 179., 169.], dtype=float32), 'C680oxL__ck.jpg': array([134., 115., 207., ..., 151.,   0., 133.], dtype=float32), 'cExLQ1o2pDw.jpg': array([109., 114., 133., ...,   7.,   3.,   3.], dtype=float32), 'cV2gBU6hKfY.jpg': array([115., 191., 253., ..., 227., 198., 158.], dtype=float32), 'd1010B3sKNQ.jpg': array([ 3.,  1.,  2., ..., 45., 42., 59.], dtype=float32), 'D9lVNzyhYnc.jpg': array([ 64.,  94., 104., ...,  21.,  21.,  21.], dtype=float32), 'dBxOYE2j55U.jpg': array([255., 255., 255., ..., 255., 255., 255.], dtype=float32), 'Dc2ZRmuH5OM.jpg': array([57., 12., 17., ..., 80., 34., 34.], dtype=float32), 'dg2Ag3e8W-Q.jpg': array([162., 220., 255., ..., 249., 253., 255.], dtype=float32), 'DuQbOQwVaNE.jpg': array([125., 141., 156., ..., 220., 213., 197.], dtype=float32), 'e5DqdX-7_g4.jpg': array([236., 243., 253., ..., 180., 168., 163.], dtype=float32), 'E6E22XQPhhg.jpg': array([ 34.,  35.,  37., ..., 228., 228., 228.], dtype=float32), 'erQ_9yEz0ls.jpg': array([  0.,   0.,   0., ..., 165.,   0.,   0.], dtype=float32), 'f0c7pSCoZqE.jpg': array([113.,   0.,  28., ..., 229., 157., 169.], dtype=float32), 'F4Y3Pkn95GI.jpg': array([168., 223., 230., ..., 251., 246., 243.], dtype=float32), 'FbM1yi4mMMc.jpg': array([123., 196., 235., ...,  55., 205., 232.], dtype=float32), 'fMfipiV_17o.jpg': array([88., 88., 90., ..., 51., 63., 49.], dtype=float32), 'fWcSBWadolA.jpg': array([157., 162., 166., ...,  19.,  58.,   3.], dtype=float32), 'fY-LA3YaZ_M.jpg': array([28., 27., 25., ..., 24., 24., 24.], dtype=float32), 'gKVZz4kcuns.jpg': array([148., 148., 210., ..., 134.,  32.,  69.], dtype=float32), 'gL6iSCSHjco.jpg': array([ 89., 111., 158., ..., 116.,  96., 111.], dtype=float32), 'GLoeAJUcz38.jpg': array([255., 255., 255., ..., 255., 255., 255.], dtype=float32), 'gsWPpE4Rid0.jpg': array([ 93., 167., 235., ..., 155., 161., 184.], dtype=float32), 'H1WBdh56Vq4.jpg': array([141.,  84.,   2., ...,  33.,  29.,  30.], dtype=float32), 'ha4tRQwKIUg.jpg': array([116., 161., 220., ..., 233., 114., 115.], dtype=float32), 'HBMmK1c44sE.jpg': array([ 93.,  99., 103., ...,  23.,  27.,  38.], dtype=float32), 'HfJMs4mrSJM.jpg': array([ 24.,  24.,  24., ..., 191., 210., 242.], dtype=float32), 'HPJKxAhLw5I.jpg': array([102., 137.,  54., ...,  16.,  27.,  17.], dtype=float32), 'hxwpkM5w3Cc.jpg': array([246., 246., 255., ...,  10.,  17.,  71.], dtype=float32), 'I046_n20d3s.jpg': array([ 93.,  62.,  68., ..., 192., 194., 193.], dtype=float32), 'i2O6GMpNWGo.jpg': array([50., 30., 32., ..., 35., 32., 39.], dtype=float32), 'i6OUv48w1bk.jpg': array([201.,   1.,  17., ..., 169.,   0.,  10.], dtype=float32), 'Ih2WTyY62J4.jpg': array([196., 246., 255., ..., 226., 174., 137.], dtype=float32), 'IiW2smvEcBM.jpg': array([187., 157., 161., ...,  34.,  79., 120.], dtype=float32), 'Ims5p6wjW9s.jpg': array([110., 171., 236., ...,  40., 135., 179.], dtype=float32), 'IoZri9hq7z4.jpg': array([202., 225., 239., ...,  44.,  45.,  47.], dtype=float32), 'iUzi5JmJNWc.jpg': array([130., 139., 148., ..., 169., 115.,  91.], dtype=float32), 'IYVjOfoU3uI.jpg': array([133., 123., 186., ..., 183., 196., 212.], dtype=float32), 'jokVbbLqV_E.jpg': array([ 44.,  68.,  32., ...,  99., 108.,  92.], dtype=float32), 'JTQcIR2ZxU4.jpg': array([129., 130., 135., ..., 127., 105.,  92.], dtype=float32), 'KSKJKLmAqpI.jpg': array([224., 214., 205., ..., 177., 167., 169.], dtype=float32), 'ktyJIj6i4Qw.jpg': array([218., 223., 204., ..., 178., 200., 186.], dtype=float32), 'L8nh1wuXTbI.jpg': array([ 59.,  92.,  99., ..., 103.,  98.,  92.], dtype=float32), 'lBYC4_Lccjw.jpg': array([193., 223., 249., ..., 178., 158., 131.], dtype=float32), 'LdMx2U5tby0.jpg': array([ 96., 177.,   5., ..., 211., 220., 235.], dtype=float32), 'LeYsRMZFUq0.jpg': array([186., 182., 179., ..., 177., 175., 180.], dtype=float32), 'LU_xVr4b2qM.jpg': array([114., 181., 252., ..., 108., 193., 249.], dtype=float32), 'mGIpOtncmSM.jpg': array([ 4.,  4.,  4., ..., 15., 15., 15.], dtype=float32), 'n6qc4LHN2KQ.jpg': array([167., 152., 123., ...,  13.,  13.,  15.], dtype=float32), 'NbaWrbJDr48.jpg': array([187., 177., 168., ..., 197., 187., 177.], dtype=float32), 'NkE0AMGzpJY.jpg': array([224., 230., 255., ..., 110., 145., 141.], dtype=float32), 'nM89Wl03Q4g.jpg': array([163., 165., 213., ...,  21.,  28.,  46.], dtype=float32), 'npDey6_9YRs.jpg': array([238., 237., 235., ...,  74.,  68.,  56.], dtype=float32), 'NS3hse9ezik.jpg': array([219., 209., 186., ..., 214., 200., 171.], dtype=float32), 'nuM0Z4a7kMs.jpg': array([210., 197., 188., ..., 223., 218., 212.], dtype=float32), 'nywT2SenPIo.jpg': array([ 98.,  75.,  54., ..., 131., 179., 252.], dtype=float32), 'NZlClr_ivb4.jpg': array([226., 225., 221., ...,  89.,  93.,  58.], dtype=float32), 'OAbP-V6fEVc.jpg': array([136., 138., 135., ..., 136., 136., 134.], dtype=float32), 'oBYbxw8f5OI.jpg': array([159., 178., 172., ..., 216., 171.,  74.], dtype=float32), 'oD155zWANQg.jpg': array([ 91., 168., 249., ...,   0., 156., 249.], dtype=float32), 'oI6aXhowFDY.jpg': array([ 86.,  82.,  54., ..., 165., 161.,  88.], dtype=float32), 'Ooke4YZv8Ts.jpg': array([221., 241., 252., ..., 254., 240., 229.], dtype=float32), 'ORUX1lHbOa8.jpg': array([190., 181., 150., ..., 227., 229., 227.], dtype=float32), 'PKtnafFtfEo.jpg': array([237.,  66.,  12., ...,  30.,  13.,   6.], dtype=float32), 'q6Qw8mUVTrE.jpg': array([252., 227., 135., ..., 155., 104.,  99.], dtype=float32), 'QapO3maXd9k.jpg': array([105., 100.,  94., ...,  20.,  16.,  15.], dtype=float32), 'QbJJwaVdgIs.jpg': array([255., 147.,  59., ..., 112.,  73.,  30.], dtype=float32), 'qIsgdOVGA04.jpg': array([120., 139., 141., ..., 162., 126., 123.], dtype=float32), 'qPBtTPJHS0Q.jpg': array([30., 37., 45., ..., 74., 63., 71.], dtype=float32), 'QxGVgXf_LNk.jpg': array([  9.,   9.,   9., ..., 144., 114.,  86.], dtype=float32), 'r7zJ8srwwjk.jpg': array([170., 166., 177., ...,  81.,  70.,  86.], dtype=float32), 'RCvnytndd9c.jpg': array([  0., 202.,  32., ...,   0., 218.,  54.], dtype=float32), 'Rj_vssRaZlQ.jpg': array([225., 223., 228., ..., 252., 252., 252.], dtype=float32), 'Rmf6T_Ewt38.jpg': array([243., 207.,   0., ..., 198., 216., 230.], dtype=float32), 'rPXmbM2UEbU.jpg': array([38., 36., 37., ..., 53., 46., 38.], dtype=float32), 'RwnN2FVaHmw.jpg': array([16., 16., 16., ..., 11., 11., 11.], dtype=float32), 's1ax8Tx_Jz0.jpg': array([208., 234., 255., ...,  17.,  23.,  35.], dtype=float32), 'sESRuTyfsEk.jpg': array([ 32.,  27.,  23., ..., 116., 109., 127.], dtype=float32), 'sfv1QaRzJg8.jpg': array([252., 250., 251., ..., 130., 169., 205.], dtype=float32), 'Su34c5Z8DW4.jpg': array([116., 107., 131., ..., 167., 127., 146.], dtype=float32), 'SZQhgExjBvQ.jpg': array([203., 250., 255., ..., 189., 231., 254.], dtype=float32), 'TDiXxsQ0w2Q.jpg': array([2., 1., 6., ..., 0., 0., 0.], dtype=float32), 'TOcGSwJBPMQ.jpg': array([  1.,   2.,   4., ..., 142., 115.,  57.], dtype=float32), 'tQ4m4zD7BBA.jpg': array([ 78., 198., 255., ...,  61., 183., 243.], dtype=float32), 'TQHEJj68Jew.jpg': array([116., 213., 246., ...,  21.,  23.,  35.], dtype=float32), 'tYHTVjfShOA.jpg': array([216., 216., 214., ...,  36.,  35.,  31.], dtype=float32), 'UE5AHE2Ypr8.jpg': array([ 41., 153., 175., ..., 107., 163., 186.], dtype=float32), 'uocETPj4Jx4.jpg': array([  1., 189., 218., ..., 185., 161., 124.], dtype=float32), 'UQtltNZ_pjs.jpg': array([224.,  52.,  32., ..., 192., 154.,  49.], dtype=float32), 'urtFrxDUV6c.jpg': array([ 36., 105., 146., ..., 248., 219., 211.], dtype=float32), 'UtnsWzaoRtg.jpg': array([ 44.,  43.,  39., ..., 226., 204., 118.], dtype=float32), 'vJH28ICkCdU.jpg': array([ 57., 201., 255., ..., 202., 196., 200.], dtype=float32), 'Vl3swga-Xrk.jpg': array([ 0.,  0.,  0., ..., 78., 87., 76.], dtype=float32), 'vp5sSqyZ5Go.jpg': array([117., 169., 120., ...,   0., 249.,  71.], dtype=float32), 'VqnQ-0q2gb4.jpg': array([122., 124., 110., ..., 177., 171., 149.], dtype=float32), 'WcwGleN38zE.jpg': array([203., 236., 251., ..., 109., 115., 127.], dtype=float32), 'wMuYiLby3-s.jpg': array([  2., 116.,  27., ...,   0., 205.,  45.], dtype=float32), 'ws694xrKopA.jpg': array([ 60.,  59.,  64., ...,  98.,  98., 100.], dtype=float32), 'X1jMMFOqxEw.jpg': array([202., 198., 195., ..., 143., 142., 150.], dtype=float32), 'x9TQ6culXIA.jpg': array([ 64., 171., 249., ...,  19.,  22.,  29.], dtype=float32), 'XaxhLbxZ13k.jpg': array([148., 138.,  85., ...,  76.,  59.,  34.], dtype=float32), 'xhIYirjB4Yc.jpg': array([204., 204., 197., ...,  44.,  85.,  27.], dtype=float32), 'xpNeg0hPZIs.jpg': array([163., 232., 239., ...,   0., 119., 100.], dtype=float32), 'xRwy_rKc7gI.jpg': array([237., 214., 161., ..., 205., 137., 120.], dtype=float32), 'Y6jC6VaO3j0.jpg': array([227., 138., 253., ..., 218., 137., 255.], dtype=float32), 'yeqARWqjkps.jpg': array([175., 174., 188., ..., 165.,   0.,   1.], dtype=float32), 'YQDDm9HLkV4.jpg': array([101., 128.,   0., ..., 235., 237., 234.], dtype=float32), 'yXWw0_UfSFg.jpg': array([233., 231., 232., ...,  59.,  60.,  65.], dtype=float32), 'YyhKdOCwD7s.jpg': array([13., 17., 16., ..., 11., 15., 14.], dtype=float32), 'Z9WQy9jEY8M.jpg': array([157., 111.,  20., ...,  27., 202., 245.], dtype=float32), 'ZPuEUe_8SRM.jpg': array([140., 130., 103., ..., 191., 184., 157.], dtype=float32), 'ZV7rU6lnAKQ.jpg': array([ 48.,  30.,  14., ..., 158., 163., 193.], dtype=float32), 'zxYjTTXc-J8.jpg': array([129., 179.,  54., ..., 125., 166.,  48.], dtype=float32), '_mdKvblL_8s.jpg': array([187., 197., 199., ...,  28.,  33.,  39.], dtype=float32), '_qAJMXfL6o0.jpg': array([ 58., 118., 214., ..., 217.,   0.,  69.], dtype=float32)}

In [80]:
thumbs = pd.DataFrame(thumbnails_dict, index=['image', 'videoId'])
thumbs.head()

ValueError: Shape of passed values is (930000, 148), indices imply (2, 148)

In [ ]:
veiws_and_likes.head()

In [192]:
# Adding the photos to the data frame
from keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.utils import array_to_img

train_datagen = ImageDataGenerator()
Thumbnails = train_datagen.flow_from_directory(r'C:\Users\jared\data_science\youtube\mr_beast_analysis\mr_beast_channel_analysis',save_format='jpg')
print(Thumbnails)

df['thumbnails'] = 0

Found 148 images belonging to 3 classes.
<keras.preprocessing.image.DirectoryIterator object at 0x000001821899F1F0>

In [ ]:
thumbs

In [196]:
df.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=148)

0